@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color: rgb(22, 24, 28);
  --foreground-container-color: rgb(38, 41, 47);
  --hover-color: rgb(51, 54, 61);
  --text-color: rgb(176, 186, 197); /* Off white Color */
}

* {
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

h1, h2, u {
  color: rgb(236, 249, 251);
  font-weight: 500;
}

/* Flexbox container */
body {
  margin: 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
}

/* Main content */
.content {
  margin: 24px;
  margin-left: 0px;
  width: 100%;
  background-color: var(--foreground-container-color);
  border-radius: 24px;
  padding: 24px;
}

/* Side navigation */
.sidenav {
  overflow: auto;
  margin: 24px;
  max-height: 88vh;
  max-width: 250px;
  min-width: 250px;
  border-radius: 16px;
  background-color: var(--foreground-container-color);
  padding: 24px;
}

/* Sidenav Links */
.sidenav a {
  padding: 16px;
  text-decoration: none;
  display: block;
}

.sidenav a:hover {
  background-color: var(--hover-color);
  border-radius: 16px;
}

.sidenav > h2 {
  margin:16px
}

.sideNavCategory {
  padding: 5px;
  border: 3px;
  border-bottom-style: solid;
  border-bottom-color: var(--hover-color);
}

/* Text Input Related */

#searchContainer {
  display: inline-flex;
  align-items: center;
  min-width: fit-content;
  padding: 12px;
  border-radius: 16px;
  background-color: var(--hover-color);
}
#search {
  width: 400px;
  border: 0px;
  border-radius: 16px;
  background-color: var(--hover-color);
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 32px;
}

::-webkit-scrollbar-track {
  background: var(--hover-color); 
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  background: rgba(38, 41, 47, 0.8); 
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(38, 41, 47, 0.6);
}